@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.AFTableCellPadding:alias {
    padding: 0pt;
}

.AFTableCellHeaderPadding:alias {
    padding: 0pt;
}
/* Table columns */
af|column::column-header-cell {
    color: white;
    background: rgb(28, 62, 172);
    font-weight: bold;
    white-space: nowrap;
    padding: 1pt;
}

af|column::banded-data-cell {
    background-color: rgb(198, 197, 196);
    border: 0pt;
    padding: 0pt;
}
/* current row */
af|table::data-row:selected af|column::data-cell, af|column::data-cell:selected {
    background-color: rgb(102, 255, 51);
}

af|table::data-row:selected af|column::banded-data-cell, af|column::banded-data-cell:selected {
    background-color: rgb(102, 255, 51);
}
/* Focus row */
af|table::data-row:selected:focused af|column::banded-data-cell {
    background-color: rgb(102, 255, 51);
}

af|table::data-row:selected:focused af|column::data-cell {
    background-color: rgb(102, 255, 51);
}
/* hover row */
af|table::data-row:highlighted af|column::data-cell, af|column::data-cell:highlighted {
    background-color: rgb(28, 62, 172)
}

af|table::data-row:highlighted af|column::banded-data-cell, af|column::banded-data-cell:highlighted {
    background-color: rgb(28, 62, 172)
}