/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|column::banded-data-cell {
    /*  background-color: Blue; 
  color: Red; */
}
af|panelBox.Text1{
    
  font-size: large; 
}
af|column::column-header-cell {
    background-color: rgb(231, 206, 221);
    font-weight: bold;
    color: Black;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

af|panelCollection {
    border-color: #f5feaa;
    border-radius: 6% 6% 6% 6%;
    border-spacing: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(255, 253, 207);
}

.Background {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Background1 {
    background-color: #FF542E;
}

.MainMenu {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    background-color: #EEEDED;
    color: #343434;
    font-size: 11px;
    font-weight: bold;
}

af|panelCollection {
    border-color: #f5feaa;
    border-radius: 6% 6% 6% 6%;
    border-spacing: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(181, 181, 181);
}

.MainHeader {
    background-color: #4F4F4F !important;;
    height: 20.0px;
}

.MainHeader label {
    color: White;
    text-align: Left;
   /*  font-family: 'Times New Roman', 'Arial Black', times, Serif; */
    font-size: medium;
    font-weight: bold;
}

.MainHeaderChild {
    text-align: Left;
    background-color: #4F4F4F !important;;
}

.MainHeaderLeft {
 text-align: Left;
    background-color: #4F4F4F !important;;
}

.MainHeaderChild af|panelGroupLayout {
    background-color: #4F4F4F !important;
}

.MainHeaderChild af|panelFormLayout {
 text-align: Left;
    background-color: #4F4F4F !important;;
}

.Header {
    background-color: #D1E7F2;
    height: 25px;
}

.Header label {
    color: #ff7e00;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}

.Header span {
    color: #006090;
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
}

.LeftHeader {
    width: 100%;
    height: 25px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #825E3A;
    color: #ffffff;
    font-size: 14px;
    padding-left: 10px;
}

.LeftHeader label {
    color: #ffffff !important;
    font-size: 14px !important;
    padding-left: 10px;
    font-weight: bold;
}

.HeaderImage {
    background-repeat: no-repeat;
    background-color: #4F4F4F;
    height: 44px;
    width: 800px;
    background-image: url("../../left.jpg");
}


.Header af|outputLabel {
    color: Green;
}

.Header input {
    color: Yellow;
    font-size: 150%;
}

.TabHeader {
    background-color: #825E3A;
    height: 25px;
}

.TabHeader label {
    color: #E7BB6A;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}

.TabHeader span {
    color: White;
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
}

.TabHeader af|outputFormatted style {
    color: White !important;
    font-weight: bold !important;
    font-size: 12px;
    padding-top: 5px;
}

.SearchPanel {
    background-color: #FFD275;
}

.SearchPanel label {
    color: blue;
    font-weight: bold;
}

.SearchPanel af|inputListOfValues label {
    color: blue;
    font-weight: bold;
    /*  height:100px !important; */
}

.SearchPanel af|inputListOfValues::content {
    color: Orange;
    font-weight: bold;
    height: 25px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.SearchPanel af|selectOneChoice::content {
    color: blue;
    font-weight: bold;
    width: 200px !important;
    /*  height: 25px !important; */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.SearchPanel af|inputText::content {
    color: blue;
    font-weight: bold;
    width: 100px !important;
    height: 20px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.SearchPanel af|inputDate::content {
    color: blue;
    font-weight: bold;
    width: 90px !important;
    height: 20px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.SearchPanel af|inputListOfValues::content {
    width: 200px !important;
    height: 16px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.PanelForm {
    background-color: #F5EBE2;
}

.SearchPanel label {
    font-weight: bold;
}

.PanelForm af|inputText::content {
    /* width: 150px !important;
    height: 18px; */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.PanelForm af|inputListOfValues::content {
    /*width: 150px !important;
     height: 18px; */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.PanelForm af|inputComboboxListOfValues::content {
    /* width: 150px !important;
     height: 18px; */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.PanelForm af|selectOneChoice::content {
    /* width: 150px !important;
      height: 18px; */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    /*  background-color: #ffffff; */
}

.PanelForm af|inputDate::content {
    /*width: 100px !important;
    height: 18px; */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.PanelForm textarea {
    width: 150px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.PanelForm label {
    color: Black;
    font-size: 11px;
}

.RightBoxHeader {
    background-color: #825E3A;
}

.RightBoxHeader af|selectBooleanCheckbox label {
    color: #ffffff;
    font-weight: bold;
}

.RightBoxHeader af|outputLabel label {
    color: #ffffff;
    font-weight: bold;
}

.RightBoxPanelForm af|inputDate::content {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.RightBoxPanelForm af|inputText::content {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.RightBoxPanelForm af|inputComboboxListOfValues::content {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    height: 13px !important;
}

.RightBoxPanelForm af|selectOneChoice::content {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    /* height:20px !important; */
}

.RightBoxPanelForm {
    background-color: #F5EBE2;
}

af|document {
    background-color: rgb(172, 169, 255);
}

.AFDefaultFontFamily:alias {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: none;
}

/* .AFTabAboveEndSelectedBackground:alias:ltr {
    background-image: url("images/t3_above_end_a.png");
}

.AFTabAboveEndUnselectedBackground:alias:ltr {
    background-image: url("images/t3_above_end_n.png");
}

.AFTabAboveEndUnselectedDisabledBackground:alias:ltr {
    background-image: url("images/t3_above_end_d.png");
}

.AFTabAboveMiddleSelectedBackground:alias {
    background-image: url("images/t3_above_mid_a.png");
}

.AFTabAboveMiddleUnselectedBackground:alias {
    background-image: url("images/t3_above_mid_n.png");
}

.AFTabAboveMiddleUnselectedDisabledBackground:alias {
    background-image: url("images/t3_above_mid_d.png");
}

.AFTabAboveStartSelectedBackground:alias:ltr {
    background-image: url("images/t3_above_start_a.png");
}

.AFTabAboveStartUnselectedBackground:alias:ltr {
    background-image: url("images/Above_Start_Disable.png");
}

.AFTabAboveStartUnselectedDisabledBackground:alias:ltr {
    background-image: url("images/t3_above_start_d.png");
}

.AFTabBelowEndSelectedBackground:alias:ltr {
    background-image: url("images/t3_above_end_a.png");
}

.AFTabBelowEndUnselectedBackground:alias:ltr {
    background-image: url("images/t3_above_end_n.png");
}

.AFTabBelowEndUnselectedDisabledBackground:alias:ltr {
    background-image: url("images/t3_above_end_d.png");
}

.AFTabBelowMiddleSelectedBackground:alias {
    background-image: url("images/t3_above_mid_a.png");
}

.AFTabBelowMiddleUnselectedBackground:alias {
    background-image: url("images/t3_above_mid_n.png");
}

.AFTabBelowMiddleUnselectedDisabledBackground:alias {
    background-image: url("images/t3_above_mid_d.png");
}

.AFTabBelowStartSelectedBackground:alias:ltr {
    background-image: url("images/t3_above_start_a.png");
}

.AFTabBelowStartUnselectedBackground:alias:ltr {
    background-image: url("images/Above_Start_Disable.png");
}

.AFTabBelowStartUnselectedDisabledBackground:alias:ltr {
    background-image: url("images/t3_above_start_d.png");
}

.AFTabBelowEndSelectedBackground:alias:ltr {
    background-image: url("images/t3_above_end_a.png");
}

af|panelTabbed::header-center {
    background-image: url("images/ptt.png");
} */

af|panelTabbed::tab af|panelTabbed::tab-text-link {
    color: white;
    font-weight: bold;
}

af|panelTabbed::tab:selected af|panelTabbed::tab-text-link {
    color: red;
    font-weight: bold;
}

af|panelTabbed::tab:hover af|panelTabbed::tab-text-link {
    color: white;
}

af|panelTabbed::tab:selected:hover af|panelTabbed::tab-text-link {
    color: red
}

.AFTabBelowStartUnselectedDisabledBackground:alias:rtl {
    background-image: url("images/t3_above_start_n.png");
}

af|outputText {
    color: Orange;
    font-weight: bold;
}

af|commandButton {
    background-image: url("../../image/Backgroung.jpg");
    color: White;
    font-size: 11px;
    border-color: rgb(163, 238, 157);
    margin: 1px;
    border-color: Green;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left-color: Green;
    background-origin: content-box;
    content: open-quote;
    font-weight: bolder;
}

af|commandButton:active {
    background-image: none;
    border-color: rgb(255, 162, 9);
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-origin: content;
    color: White;
    background-color: rgb(243, 193, 34);
}

af|commandButton:hover {
    color: White;
    background-color: rgb(255, 155, 13);
    background-image: none;
}

af|commandButton:focus {
    background-image: none;
    background-color: rgb(255, 198, 0);
}

af|commandButton:busy {
    background-image: none;
    background-color: rgb(179, 0, 0);
}

af|commandButton:active:hover {
    background-image: url("../../image/Orange Background.jpg");
    background-color: Orange;
}

af|commandButton:text-only {
    background-image: url("../../image/Backgroung.jpg");
}

af|commandButton:active:disabled {
    background-color: rgb(178, 238, 171);
}

af|commandButton:disabled {
    background-color: rgb(178, 238, 171);
}

af|query::criterion-label {
    color: Black;
}

af|query::criterion-content {
    color: Black;
}

af|query::criterion-label-top {
    color: Black;
}

af|query::dynamic-help-icon-style {
    color: Black;
}

af|query::instruction-text {
    color: Black;
}

af|query::title-end0 {
    color: Black;
}

af|query::title-end1 {
    color: Black;
}

af|query::title-end2 {
    color: Black;
}

af|query::title-end3 {
    color: Black;
}

af|query::title-end4 {
    color: Black;
}

af|query::title-end5 {
    color: Black;
}

af|query::title-start0 {
    color: Black;
}

af|query::title-start1 {
    color: Black;
}

af|query::title-start2 {
    color: Black;
}

af|query::title-start3 {
    color: Black;
}

af|query::title-start4 {
    color: Black;
}

af|query::title-start5 {
    color: Black;
}

af|query::title-table {
    color: Black;
}

af|query::title-text0 {
    color: Black;
}

af|query::title-text1 {
    color: Black;
}

af|query::title-text2 {
    color: Black;
}

af|query::title-text3 {
    color: Black;
}

af|query::title-text4 {
    color: Black;
}

af|query::title-text5 {
    color: Black;
}

af|query::title0 {
    color: Black;
}

af|query::title1 {
    color: Black;
}

af|query::title2 {
    color: Black;
}

af|query::title3 {
    color: Black;
}

af|query::title4 {
    color: Black;
}

af|query::title5 {
    color: Black;
}

af|query::footer-facet-content-style {
    color: Black;
}

af|query::button {
    background-image: url("../../image/Backgroung.jpg");
    color: White;
    font-size: 11px;
    border-color: rgb(163, 238, 157);
    margin: 1px;
    border-color: Green;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left-color: Green;
    background-origin: content-box;
    content: open-quote;
}

af|query::content0 {
    color: Black;
}

af|query::button:busy {
    background-image: none;
    background-color: rgb(179, 0, 0);
}

af|query::button:hover {
    color: White;
    background-color: rgb(255, 155, 13);
    background-image: none;
}

af|query::button:active {
    background-image: none;
    border-color: rgb(255, 162, 9);
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-origin: content;
    color: White;
    background-color: rgb(243, 193, 34);
}

af|query::button:active:hover {
    background-image: url("../../image/Orange Background.jpg");
    background-color: Orange;
}

af|query::button:active:disabled {
    background-color: rgb(133, 181, 118);
    color: White;
}

af|query::button:focus {
    background-image: none;
    background-color: rgb(255, 198, 0);
}

af|query::button:focus:hover {
    background-color: rgb(46, 181, 30);
}

af|query::button:disabled {
    background-color: rgb(46, 181, 30);
    color: White;
}

af|dialog::title {
    color: Black;
}

af|dialog::footer-button {
    background-image: url("../../image/Backgroung.jpg");
    color: White;
    font-size: 11px;
    border-color: rgb(163, 238, 157);
    margin: 1px;
    border-color: Green;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left-color: Green;
    background-origin: content-box;
    content: open-quote;
}

af|dialog::footer-button:active {
    background-image: none;
    border-color: rgb(255, 162, 9);
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-origin: content;
    color: White;
    background-color: rgb(243, 193, 34);
}

af|dialog::footer-button:active:disabled {
    background-color: rgb(133, 181, 118);
    color: White;
}

af|dialog::footer-button:active:hover {
    background-image: url("../../image/Orange Background.jpg");
    background-color: Orange;
}

af|dialog::footer-button:focus {
    background-image: none;
    background-color: rgb(255, 198, 0);
}

af|dialog::footer-button:hover {
    color: White;
    background-color: rgb(255, 155, 13);
    background-image: none;
}

af|dialog::footer-button:disabled {
    background-color: rgb(255, 175, 23);
}

af|dialog::footer-button:focus:hover {
    background-color: rgb(46, 181, 30);
}

af|dialog::footer-button:text-only {
    background-image: url("../../image/Backgroung.jpg");
}

af|selectBooleanCheckbox::selected-icon {
    content: url("../../image/Actions-dialog-ok-apply-icon.png");
}