/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";


.AFDefaultFont:alias
{
  font-family: Georgia, 'Times New Roman', times, Serif; 
}
.AFDefaultFontFamily:alias
{
  font-family: Georgia, 'Times New Roman', times, Serif; 
}
af|inputText
{
  padding: 3px 3px 3px 3px; 
  color: Blue; 
}
af|inputText::content
{
  color: Blue; 
  padding: 3px 3px 3px 3px; 
}
af|inputText::label
{
  color: rgb(69,69,69); 
}
af|inputText:disabled::label
{
  color: rgb(69,69,69); 
}
af|inputText:required::label
{
  color: rgb(69,69,69); 
}
af|table
{
  width: auto; 
  background-color: rgb(203,229,247); 
}
af|table::data-row:selected
{
  background-color: Yellow; 
}
.AFTableCellBandedBackground:alias
{
  color: Green; 
}
af|panelTabbed::body
{
  font-size: 11px; 
}
af|panelTabbed
{
  width: 100%; 
  height: 300px; 
  background-color: rgb(234,232,255); 
}
af|selectOneChoice
{
  padding: 1px 1px 1px 0px; 
}
af|selectOneChoice::content
{
  padding: 01px 01px 01px 01px; 
}
af|selectOneChoice::label
{
  font-weight: bold; 
  color: rgb(69,69,69); 
}
af|selectOneChoice:disabled::label
{
  color: rgb(69,69,69); 
}
af|selectOneChoice::item
{
  color: Blue; 
}
af|inputListOfValues::label
{
  color: rgb(69,69,69); 
  font-weight: bold; 
}
af|inputListOfValues::content
{
  padding: 03px 03px 03px 03px; 
}
af|inputListOfValues:disabled::content
{
  color: rgb(69,69,69); 
}
af|inputListOfValues:click-to-edit:disabled::content
{
  color: rgb(69,69,69); 
}
af|panelFormLayout::column
{
   
  padding: 05px 05px 05px 05px; 
}
af|panelFormLayout::label-cell
{
  color: rgb(69,69,69); 
  font-weight: bold; 
}
af|panelFormLayout
{
  width: 100%; 
  padding: 5px 5px 5px 5px; 
   
}
af|selectBooleanRadio
{
  color: rgb(69,69,69); 
}
af|selectBooleanRadio::content
{
  font-weight: bold; 
}
af|selectBooleanRadio::label
{
  color: rgb(69,69,69); 
  font-weight: bold; 
}
af|selectBooleanRadio:disabled::label
{
  color: rgb(69,69,69); 
}
af|inputDate::label
{
  color: rgb(69,69,69); 
  font-weight: bold; 
}
af|inputDate:disabled::label
{
  color: rgb(69,69,69); 
}
af|commandButton
{
  background-color: rgb(195,215,220); 
  padding: 4px 4px 4px 4px; 
  color: rgb(69,69,69); 
}
af|inputDate::content
{
  color: Blue; 
}
af|table::data-row
{
  padding: 10px 10px 10px 10px; 
  background-color: InfoBackground; 
}
af|menu
{
  background-color: rgb(95,194,255); 
}
.PanelGrpLayoutBlue
{
  background-color: rgb(69,216,255); 
}
.PanelBlue
{
  background-color: rgb(148,207,255); 
}
.Background1
{
  background-color: rgb(181,231,255); 
}
.Background
{
  background-color: rgb(51,78,123); 
  background-image: url("../../image/Gradient-blue-background.jpg"); 
  background-repeat:no-repeat;
}

.MainHeader{
  background-color:#3F4C6B;
}

.Header{
    background-color:#3F6096;
}

.SearchPanel{
    background-color:#EAF1F9;
}

.PanelForm{
    background-color:#EAF1F9;
}