/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";


af|column::banded-data-cell
{
  background-color: rgb(246,255,210); 
   
}
af|column::column-header-cell
{
  background-color: rgb(231,206,221); 
  font-weight: bold; 
  color: Black; 
  font-family: Geneva, Arial, Helvetica, sans-serif; 
}
af|panelCollection
{

 
  border-color: #f5feaa; 
  
 
  border-radius: 6% 6% 6% 6%; 
  border-spacing: 6px; 
  border-top-right-radius: 6px; 
  border-top-left-radius: 6px;  
  border-bottom-left-radius: 6px; 
  border-bottom-right-radius: 6px; 
  background-color: rgb(255,253,207); 
   
}
.AFTabAboveStartUnselectedLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_start_n.png); 
}
.AFTabAboveStartUnselectedLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_start_n_rtl.png); 
}
.AFTabAboveStartUnselectedLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_start_n.png); 
}
.AFTabAboveStartUnselectedLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_start_n_rtl.png); 
}
.AFTabAboveEndUnselectedLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_end_n.png); 
}
.AFTabAboveEndUnselectedLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_end_n_rtl.png); 
}
.AFTabAboveEndUnselectedLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_end_n.png); 
}
.AFTabAboveEndUnselectedLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_end_n_rtl.png); 
}
.AFTabAboveMiddleUnselectedLevel1Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_mid_n.png); 
}
.AFTabAboveMiddleUnselectedLevel2Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_mid_n.png); 
}
.AFTabBelowStartUnselectedLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_start_n.png); 
}
.AFTabBelowStartUnselectedLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_start_n_rtl.png); 
}
.AFTabBelowStartUnselectedLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_start_n.png); 
}
.AFTabBelowStartUnselectedLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_start_n_rtl.png); 
}
.AFTabBelowEndUnselectedLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_end_n.png); 
}
.AFTabBelowEndUnselectedLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_end_n_rtl.png); 
}
.AFTabBelowEndUnselectedLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_end_n.png); 
}
.AFTabBelowEndUnselectedLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_end_n_rtl.png); 
}
.AFTabBelowMiddleUnselectedLevel1Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_mid_n.png); 
}
.AFTabBelowMiddleUnselectedLevel2Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_mid_n.png); 
}
.AFTabAboveStartSelectedLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_start_a.png); 
}
.AFTabAboveStartSelectedLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_start_a_rtl.png); 
}
.AFTabAboveStartSelectedLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_start_a.png); 
}
.AFTabAboveStartSelectedLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_start_a_rtl.png); 
}
.AFTabAboveEndSelectedLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_end_a.png); 
}
.AFTabAboveEndSelectedLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_end_a_rtl.png); 
}
.AFTabAboveEndSelectedLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_end_a.png); 
}
.AFTabAboveEndSelectedLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_end_a_rtl.png); 
}
.AFTabAboveMiddleSelectedLevel1Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_mid_a.png); 
}
.AFTabAboveMiddleSelectedLevel2Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_mid_a.png); 
}
.AFTabBelowStartSelectedLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_start_a.png); 
}
.AFTabBelowStartSelectedLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_start_a_rtl.png); 
}
.AFTabBelowStartSelectedLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_start_a.png); 
}
.AFTabBelowStartSelectedLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_start_a_rtl.png); 
}
.AFTabBelowEndSelectedLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_end_a.png); 
}
.AFTabBelowEndSelectedLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_end_a_rtl.png); 
}
.AFTabBelowEndSelectedLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_end_a.png); 
}
.AFTabBelowEndSelectedLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_end_a_rtl.png); 
}
.AFTabBelowMiddleSelectedLevel1Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_mid_a.png); 
}
.AFTabBelowMiddleSelectedLevel2Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_mid_a.png); 
}
.AFTabAboveStartUnselectedDisabledLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_start_d.png); 
}
.AFTabAboveStartUnselectedDisabledLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_start_d_rtl.png); 
}
.AFTabAboveStartUnselectedDisabledLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_start_d.png); 
}
.AFTabAboveStartUnselectedDisabledLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_start_d_rtl.png); 
}
.AFTabAboveEndUnselectedDisabledLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_end_d.png); 
}
.AFTabAboveEndUnselectedDisabledLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_end_d_rtl.png); 
}
.AFTabAboveEndUnselectedDisabledLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_end_d.png); 
}
.AFTabAboveEndUnselectedDisabledLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_end_d_rtl.png); 
}
.AFTabAboveMiddleUnselectedDisabledLevel1Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_above_mid_d.png); 
}
.AFTabAboveMiddleUnselectedDisabledLevel2Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_above_mid_d.png); 
}
.AFTabBelowStartUnselectedDisabledLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_start_d.png); 
}
.AFTabBelowStartUnselectedDisabledLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_start_d_rtl.png); 
}
.AFTabBelowStartUnselectedDisabledLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_start_d.png); 
}
.AFTabBelowStartUnselectedDisabledLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_start_d_rtl.png); 
}
.AFTabBelowEndUnselectedDisabledLevel1Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_end_d.png); 
}
.AFTabBelowEndUnselectedDisabledLevel1Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_end_d_rtl.png); 
}
.AFTabBelowEndUnselectedDisabledLevel2Background:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_end_d.png); 
}
.AFTabBelowEndUnselectedDisabledLevel2Background:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_end_d_rtl.png); 
}
.AFTabBelowMiddleUnselectedDisabledLevel1Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t1_below_mid_d.png); 
}
.AFTabBelowMiddleUnselectedDisabledLevel2Background:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t2_below_mid_d.png); 
}
af|panelTabbed::header-start[theme="dark"], af|decorativeBox::top-start[theme="medium"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmts.png); 
}
af|panelTabbed::header-start[theme="medium"], af|decorativeBox::top-start[theme="light"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblts.png); 
}
af|panelTabbed::header-end[theme="dark"], af|decorativeBox::top-end[theme="medium"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmte.png); 
}
af|panelTabbed::header-end[theme="medium"], af|decorativeBox::top-end[theme="light"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblte.png); 
}
af|panelTabbed::footer-start[theme="dark"], af|decorativeBox::bottom-start[theme="medium"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmbs.png); 
}
af|panelTabbed::footer-start[theme="medium"], af|decorativeBox::bottom-start[theme="light"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblbs.png); 
}
af|panelTabbed::footer-end[theme="dark"], af|decorativeBox::bottom-end[theme="medium"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmbe.png); 
}
af|panelTabbed::footer-end[theme="medium"], af|decorativeBox::bottom-end[theme="light"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblbe.png); 
}
af|panelTabbed::body-start[theme="dark"], af|decorativeBox::start[theme="medium"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbms.png); 
}
af|panelTabbed::body-start[theme="medium"], af|decorativeBox::start[theme="light"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbls.png); 
}
af|panelTabbed::body-end[theme="dark"], af|decorativeBox::end[theme="medium"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbme.png); 
}
af|panelTabbed::body-end[theme="medium"], af|decorativeBox::end[theme="light"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dble.png); 
}
af|panelTabbed::header-center[theme="dark"], af|decorativeBox::top[theme="medium"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmt.png); 
}
af|panelTabbed::header-center[theme="medium"], af|decorativeBox::top[theme="light"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblt.png); 
}
af|panelTabbed::footer-center[theme="dark"], af|decorativeBox::bottom[theme="medium"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmb.png); 
}
af|panelTabbed::footer-center[theme="medium"], af|decorativeBox::bottom[theme="light"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblb.png); 
}
af|panelTabbed::body[theme="dark"], af|decorativeBox::center[theme="medium"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmc.png); 
}
af|panelTabbed::body[theme="medium"], af|decorativeBox::center[theme="light"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblc.png); 
}
af|panelTabbed::header-start[theme=dark]:rtl, af|decorativeBox::top-start[theme=medium]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmts_r.png); 
}
af|panelTabbed::header-start[theme=medium]:rtl, af|decorativeBox::top-start[theme=light]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblts_r.png); 
}
af|panelTabbed::header-end[theme=dark]:rtl, af|decorativeBox::top-end[theme=medium]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmte_r.png); 
}
af|panelTabbed::header-end[theme=medium]:rtl, af|decorativeBox::top-end[theme=light]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblte_r.png); 
}
af|panelTabbed::footer-start[theme=dark]:rtl, af|decorativeBox::bottom-start[theme=medium]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmbs_r.png); 
}
af|panelTabbed::footer-start[theme=medium]:rtl, af|decorativeBox::bottom-start[theme=light]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblbs_r.png); 
}
af|panelTabbed::footer-end[theme=dark]:rtl, af|decorativeBox::bottom-end[theme=medium]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbmbe_r.png); 
}
af|panelTabbed::footer-end[theme=medium]:rtl, af|decorativeBox::bottom-end[theme=light]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dblbe_r.png); 
}
af|panelTabbed::body-start[theme=dark]:rtl, af|decorativeBox::start[theme=medium]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbms_r.png); 
}
af|panelTabbed::body-start[theme=medium]:rtl, af|decorativeBox::start[theme=light]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbls_r.png); 
}
af|panelTabbed::body-end[theme=dark]:rtl, af|decorativeBox::end[theme=medium]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbme_r.png); 
}
af|panelTabbed::body-end[theme=medium]:rtl, af|decorativeBox::end[theme=light]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dble_r.png); 
}
af|decorativeBox::start[theme="dark"], af|decorativeBox::end[theme="dark"], af|decorativeBox::start[theme="contentBody"], af|decorativeBox::end[theme="contentBody"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbd_topShadow.png); 
}
.AFDecorativeBoxDarkTopShadowIcon:alias
{
  content: url(images/generated/adf/images/fusion-11.1.1.3.0/dbd_topShadow.png); 
}
.AFDecorativeBoxDarkGradientIcon:alias
{
  content: url(images/generated/adf/images/fusion-11.1.1.3.0/dbd_centerGradient.png); 
}
af|decorativeBox::bottom-end[theme="dark"], af|decorativeBox::bottom-start[theme=dark]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbdbe.png); 
}
af|decorativeBox::bottom-start[theme="dark"], af|decorativeBox::bottom-end[theme=dark]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbdbs.png); 
}
af|decorativeBox::top-start[theme="contentBody"], af|decorativeBox::top-end[theme=contentBody]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbdt.png); 
}
af|decorativeBox::top-end[theme="contentBody"], af|decorativeBox::top-start[theme=contentBody]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbdt.png); 
}
af|decorativeBox::top[theme="dark"], af|decorativeBox::top[theme="contentBody"]
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbdt.png); 
}
af|decorativeBox::top-end[theme="dark"], af|decorativeBox::top-start[theme=dark]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbdte.png); 
}
af|decorativeBox::top-start[theme="dark"], af|decorativeBox::top-end[theme=dark]:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/dbdts.png); 
}
af|panelAccordion::body-content
{
  background-image: url(images/generated/adf/images/fusionFx-v1/pabbgt.png); 
}
.AFPanelAccordionBodyMultipleBackgroundImage:alias
{
  background-image: url(images/generated/adf/images/fusionFx-v1/pabbgt.png),url(/afr/fusionFx-v1/pabbgb.png); 
}
af|panelAccordion::header af|panelAccordion::header-start
{
  background-image: url(images/generated/adf/images/fusionFx-v1/pahcs.png); 
}
af|panelAccordion::header af|panelAccordion::header-start:rtl
{
  background-image: url(images/generated/adf/images/fusionFx-v1/pahcs_rtl.png); 
}
af|panelAccordion::header:disclosed af|panelAccordion::header-start
{
  background-image: url(images/generated/adf/images/fusionFx-v1/pahes.png); 
}
af|panelAccordion::header:disclosed af|panelAccordion::header-start:rtl
{
  background-image: url(images/generated/adf/images/fusionFx-v1/pahes_rtl.png); 
}
.AFPanelAccordionHeaderBackground:alias
{
  background-image: url(images/generated/adf/images/fusionFx-v1/pahcm.png); 
}
.AFPanelAccordionHeaderDisclosedBackground:alias
{
  background-image: url(images/generated/adf/images/fusionFx-v1/pahem.png); 
}
af|decorativeBox::top-start, af|decorativeBox::top-end:rtl
{
  background-image: url(images/generated/adf/images/fusionFx-v1/dbcts.png); 
}
af|decorativeBox::top-end, af|decorativeBox::top-start:rtl
{
  background-image: url(images/generated/adf/images/fusionFx-v1/dbcte.png); 
}
af|decorativeBox::start, af|decorativeBox::end:rtl
{
  background-image: url(images/generated/adf/images/fusionFx-v1/dbcs.png); 
}
af|decorativeBox::center
{
  background-image: url(images/generated/adf/images/fusionFx-v1/dbcc.png); 
}
af|decorativeBox::end, af|decorativeBox::start:rtl
{
  background-image: url(images/generated/adf/images/fusionFx-v1/dbce.png); 
}
af|decorativeBox::bottom-start, af|decorativeBox::bottom-end:rtl
{
  background-image: url(images/generated/adf/images/fusionFx-v1/dbcbs.png); 
}
af|decorativeBox::bottom-end, af|decorativeBox::bottom-start:rtl
{
  background-image: url(images/generated/adf/images/fusionFx-v1/dbcbe.png); 
}
af|decorativeBox::top
{
  background-image: url(images/generated/adf/images/fusionFx-v1/dbct.png); 
}
af|decorativeBox::bottom
{
  background-image: url(images/generated/adf/images/fusionFx-v1/dbcb.png); 
}
af|panelTabbed::header-start
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/ptts.png); 
}
af|panelTabbed::header-start:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/ptts_r.png); 
}
af|panelTabbed::header-center
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/ptt.png); 
}
af|panelTabbed::header-end
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/ptte.png); 
}
af|panelTabbed::header-end:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/ptte_r.png); 
}
af|panelTabbed::body-end
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/pte.png); 
}
af|panelTabbed::body-end:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/pte_r.png); 
}
af|panelTabbed::footer-start
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/ptbs.png); 
}
af|panelTabbed::footer-start:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/ptbs_r.png); 
}
af|panelTabbed::footer-center
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/ptb.png); 
}
af|panelTabbed::footer-end
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/ptbe.png); 
}
af|panelTabbed::footer-end:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/ptbe_r.png); 
}
.AFTabAboveStartUnselectedBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_start_n.png); 
}
.AFTabAboveStartUnselectedBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_start_n_rtl.png); 
}
.AFTabAboveStartUnselectedDisabledBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_start_d.png); 
}
.AFTabAboveStartUnselectedDisabledBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_start_d_rtl.png); 
}
.AFTabAboveEndUnselectedBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_end_n.png); 
}
.AFTabAboveEndUnselectedBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_end_n_rtl.png); 
}
.AFTabAboveEndUnselectedDisabledBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_end_d.png); 
}
.AFTabAboveEndUnselectedDisabledBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_end_d_rtl.png); 
}
.AFTabAboveMiddleUnselectedBackground:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_mid_n.png); 
}
.AFTabAboveMiddleUnselectedDisabledBackground:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_mid_d.png); 
}
.AFTabBelowStartUnselectedBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_start_n.png); 
}
.AFTabBelowStartUnselectedBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_start_n_rtl.png); 
}
.AFTabBelowStartUnselectedDisabledBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_start_d.png); 
}
.AFTabBelowStartUnselectedDisabledBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_start_d_rtl.png); 
}
.AFTabBelowEndUnselectedBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_end_n.png); 
}
.AFTabBelowEndUnselectedBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_end_n_rtl.png); 
}
.AFTabBelowEndUnselectedDisabledBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_end_d.png); 
}
.AFTabBelowEndUnselectedDisabledBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_end_d_rtl.png); 
}
.AFTabBelowMiddleUnselectedBackground:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_mid_n.png); 
}
.AFTabBelowMiddleUnselectedDisabledBackground:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_mid_d.png); 
}
.AFTabAboveStartSelectedBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_start_a.png); 
}
.AFTabAboveStartSelectedBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_start_a_rtl.png); 
}
.AFTabAboveEndSelectedBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_end_a.png); 
}
.AFTabAboveEndSelectedBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_end_a_rtl.png); 
}
.AFTabAboveMiddleSelectedBackground:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_above_mid_a.png); 
}
.AFTabBelowStartSelectedBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_start_a.png); 
}
.AFTabBelowStartSelectedBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_start_a_rtl.png); 
}
.AFTabBelowEndSelectedBackground:alias:ltr
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_end_a.png); 
}
.AFTabBelowEndSelectedBackground:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_end_a_rtl.png); 
}
.AFTabBelowMiddleSelectedBackground:alias
{
  background-image: url(images/generated/adf/images/fusion-11.1.1.3.0/t3_below_mid_a.png); 
}
.AFPanelBoxHeaderStartDefault:alias
{
  background-image: url(images/generated/adf/images/fusion/ccont-ts.png); 
}
.AFPanelBoxHeaderStartDefault:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion/ccont-ts-r.png); 
}
.AFPanelBoxHeaderEndDefault:alias
{
  background-image: url(images/generated/adf/images/fusion/ccont-te.png); 
}
.AFPanelBoxHeaderEndDefault:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion/ccont-te-r.png); 
}
.AFPanelBoxHeaderCenterDefault:alias
{
  background-image: url(images/generated/adf/images/fusion/ccont-t.png); 
}
.AFPanelBoxFooterStartDefault:alias
{
  background-image: url(images/generated/adf/images/fusion/ccont-bs.png); 
}
.AFPanelBoxFooterStartDefault:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion/ccont-bs-r.png); 
}
.AFPanelBoxFooterEndDefault:alias
{
  background-image: url(images/generated/adf/images/fusion/ccont-be.png); 
}
.AFPanelBoxFooterEndDefault:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion/ccont-be-r.png); 
}
.AFPanelBoxFooterCenterDefault:alias
{
  background-image: url(images/generated/adf/images/fusion/ccont-b.png); 
}
.AFPanelBoxContentCenterDefault:alias
{
  background-image: url(images/generated/adf/images/fusion/ccont-e.png); 
}
.AFPanelBoxContentCenterDefault:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion/ccont-e-r.png); 
}
af|document
{
  background-image: url(images/generated/adf/images/fusion/page_background_white.png); 
}
af|inputNumberSpinbox::decrementor-icon-style
{
  background-image: url(images/generated/adf/images/fusion/spinboxdown_ena.png); 
}
af|train::stop-icon-unvisited, af|train-vertical::stop-icon-unvisited
{
  background-image: url(images/generated/adf/images/fusion/train_unvisited_ena.png); 
}
.AFMediumBackground:alias
{
  background-color: #f5feaa; 
}
af|showDetailItem
{
  background-color: #faffc6; 
}
.AFButtonBackground:alias
{
  background-image: url(images/generated/adf/images/fusion/button_bg_ena.png); 
}
.AFButtonBackgroundFocus:alias
{
  background-image: url(images/generated/adf/images/fusion/button_bg_ena.png); 
}
af|inputNumberSpinbox::incrementor-icon-style:disabled, af|inputNumberSpinbox:disabled::incrementor-icon-style, af|inputNumberSpinbox::incrementor-icon-style:disabled:hover, af|inputNumberSpinbox:disabled::incrementor-icon-style:hover, af|inputNumberSpinbox::incrementor-icon-style:disabled:active, af|inputNumberSpinbox:disabled::incrementor-icon-style:active
{
  background-image: url(images/generated/adf/images/fusion/spinboxup_dis.png); 
}
af|inputNumberSpinbox::decrementor-icon-style:disabled, af|inputNumberSpinbox:disabled::decrementor-icon-style, af|inputNumberSpinbox::decrementor-icon-style:disabled:hover, af|inputNumberSpinbox:disabled::decrementor-icon-style:hover, af|inputNumberSpinbox::decrementor-icon-style:disabled:active, af|inputNumberSpinbox:disabled::decrementor-icon-style:active
{
  background-image: url(images/generated/adf/images/fusion/spinboxdown_dis.png); 
}
af|menu::child-container:detached af|menu::detachable-header
{
  background-image: url(images/generated/adf/images/fusion/window_header_tc.png); 
}
af|quickQuery::disabled-search-icon-style
{
  background-image: url(images/generated/adf/images/fusion/quickQuery_dis.png); 
}
af|quickQuery::disabled-search-icon-style:rtl
{
  background-image: url(images/generated/adf/images/fusion/quickQuery_rtl_dis.png); 
}
af|inputNumberSlider::thumb-icon-style, af|inputRangeSlider::thumb-icon-style
{
  background-image: url(images/generated/adf/images/fusion/slider_thumb_vert_ena.png); 
}
af|panelSplitter::horizontal-icon-style
{
  background-image: url(images/generated/adf/images/fusion/splitterh_bg.png); 
}
af|panelSplitter::vertical-icon-style
{
  background-image: url(images/generated/adf/images/fusion/splitterv_bg.png); 
}
af|train::stop-icon-disabled, af|train-vertical::stop-icon-disabled
{
  background-image: url(images/generated/adf/images/fusion/train_dis.png); 
}
af|inputColor::launch-icon-style
{
  background-image: url(images/generated/adf/images/fusion/inputcolorbutton_1x14_ena.png); 
}
af|inputColor::launch-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/inputcolorbutton_1x14_ovr.png); 
}
af|inputColor::launch-icon-style:active
{
  background-image: url(images/generated/adf/images/fusion/inputcolorbutton_1x14_dwn.png); 
}
.AFLightBackground:alias
{
  background-color: #f7fccf; 
}
.AFVeryLightAccentBackground:alias
{
  background-color: #faffe8; 
}
af|panelBox::content
{
  background-color: #faffe0; 
}
af|dvt-pivotTable::drill-collapsed-icon
{
  content: url(images/generated/bi/images/gridView/disclosecollapsed_ena.png); 
}
af|dvt-pivotTable::drill-collapsed-icon:rtl
{
  content: url(images/generated/bi/images/gridView/disclosecollapsed_rtl_ena.png); 
}
af|dvt-pivotTable::drill-expanded-icon
{
  content: url(images/generated/bi/images/gridView/discloseexpanded_ena.png); 
}
af|dvt-pivotTable::drill-expanded-icon:rtl
{
  content: url(images/generated/bi/images/gridView/discloseexpanded_rtl_ena.png); 
}
af|navigationPane-buttons::separator-icon-style[theme="dark"], af|navigationPane-bar::separator-icon-style[theme="dark"]
{
  background-image: url(images/generated/adf/images/fusion/glink_darkSeparator.png); 
}
af|breadCrumbs::overflow-indicator:depressed
{
  background-image: url(images/generated/adf/images/fusion/breadcrumb_of_dwn.png); 
}
af|inputNumberSpinbox::incrementor-icon-style:active
{
  background-image: url(images/generated/adf/images/fusion/spinboxup_dwn.png); 
}
af|inputNumberSpinbox::decrementor-icon-style:active
{
  background-image: url(images/generated/adf/images/fusion/spinboxdown_dwn.png); 
}
af|menu::scroll-up-cell:active, af|menu::scroll-down-cell:active
{
  background-image: url(images/generated/adf/images/fusion/scroll_bg_dwn.png); 
}
af|menu::detachable-header-content-center:depressed af|menu::detach-handle
{
  background-image: url(images/generated/adf/images/fusion/tearoff_bg_dwn.png); 
}
af|menu::detach-grip
{
  background-image: url(images/generated/adf/images/fusion/tearoff_grippy_ena.png); 
}
af|selectManyChoice::dropdown:active, af|inputComboboxListOfValues::dropdown-cell:active
{
  background-image: url(images/generated/adf/images/fusion/dropDB_1x11_dwn.png); 
}
af|column::sort-ascending-icon-style:active
{
  background-image: url(images/generated/adf/images/fusion/sort_asc_selected.png); 
}
af|column::sorted-ascending-icon-style
{
  background-image: url(images/generated/adf/images/fusion/sort_asc_selected.png); 
}
af|column::sort-descending-icon-style:active
{
  background-image: url(images/generated/adf/images/fusion/sort_des_selected.png); 
}
af|column::sorted-descending-icon-style
{
  background-image: url(images/generated/adf/images/fusion/sort_des_selected.png); 
}
af|panelWindow::close-icon-style, af|dialog::close-icon-style
{
  background-image: url(images/generated/adf/images/fusion/close_ena.png); 
  background-color: rgb(255,249,255); 
}
af|train::stop-icon-unvisited:active, af|train-vertical::stop-icon-unvisited:active
{
  background-image: url(images/generated/adf/images/fusion/train_unvisited_dwn.png); 
}
af|dvt-hierarchyViewer af|inputNumberSlider::minus-icon
{
  content: url(images/generated/adf/images/slider_decreasebutcon_m_n.png); 
}
af|dvt-hierarchyViewer af|inputNumberSlider::plus-icon
{
  content: url(images/generated/adf/images/slider_increasebutcon_m_n.png); 
}
.AFLightNeutralBackground:alias
{
  background-color: #f7fcb8; 
}
.AFMediumAccentBackground:alias
{
  background-color: #f5feaa; 
}
.AFDisclosedIconStyleHover:alias
{
  background-image: url(images/generated/adf/images/fusion/disclexp_hover.png); 
}
.AFUndisclosedIconStyleHover:alias
{
  background-image: url(images/generated/adf/images/fusion/disclcol_hover.png); 
}
.AFUndisclosedIconStyleHover:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion/disclcol_hover_rtl.png); 
}
.AFButtonBackgroundHover:alias
{
  background-image: url(images/generated/adf/images/fusion/button_bg_ovr.png); 
}
.AFOverflowImageHorizontalStartHover:alias
{
  background-image: url(images/generated/adf/images/fusion/overflow_left_ovr.png); 
}
.AFOverflowImageHorizontalEndHover:alias
{
  background-image: url(images/generated/adf/images/fusion/overflow_right_ovr.png); 
}
.AFOverflowImageVerticalStartHover:alias
{
  background-image: url(images/generated/adf/images/fusion/overflow_up_ovr.png); 
}
.AFOverflowImageVerticalEndHover:alias
{
  background-image: url(images/generated/adf/images/fusion/overflow_down_ovr.png); 
}
af|progressIndicator::determinate-filled-icon-style
{
  background-image: url(images/generated/adf/images/fusion/bar.png); 
}
af|breadCrumbs::overflow-indicator:hover
{
  background-image: url(images/generated/adf/images/fusion/breadcrumb_of_ovr.png); 
}
af|inputNumberSpinbox::incrementor-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/spinboxup_ovr.png); 
}
af|inputNumberSpinbox::decrementor-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/spinboxdown_ovr.png); 
}
af|menu::scroll-up-icon-style
{
  background-image: url(images/generated/adf/images/fusion/scroll_arrow_up_ena.png); 
}
af|menu::scroll-up-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/scroll_arrow_up_ovr.png); 
}
af|menu::scroll-up-icon-style:disabled
{
  background-image: url(images/generated/adf/images/fusion/scroll_arrow_up_dis.png); 
}
af|menu::scroll-down-icon-style
{
  background-image: url(images/generated/adf/images/fusion/scroll_arrow_down_ena.png); 
}
af|menu::scroll-down-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/scroll_arrow_down_ovr.png); 
}
af|menu::scroll-down-icon-style:disabled
{
  background-image: url(images/generated/adf/images/fusion/scroll_arrow_down_dis.png); 
}
af|menu::scroll-up-cell:hover, af|menu::scroll-down-cell:hover
{
  background-image: url(images/generated/adf/images/fusion/scroll_bg_ovr.png); 
}
af|menu::detach-handle
{
  background-image: url(images/generated/adf/images/fusion/tearoff_bg_ena.png); 
}
af|menu::detach-handle:hover
{
  background-image: url(images/generated/adf/images/fusion/tearoff_bg_ovr.png); 
}
af|selectManyChoice::dropdown:hover, af|inputComboboxListOfValues::dropdown-cell:hover
{
  background-image: url(images/generated/adf/images/fusion/dropDB_1x11_ovr.png); 
}
af|inputNumberSlider::bar-outer-border, af|inputRangeSlider::bar-outer-border
{
  background-image: url(images/generated/adf/images/fusion/sliderBarH_mdTile.png); 
}
af|inputNumberSlider::plus-icon-style, af|inputRangeSlider::plus-icon-style
{
  background-image: url(images/generated/adf/images/fusion/slider_Hincrease_ena.png); 
}
af|inputNumberSlider::plus-icon-style:rtl, af|inputRangeSlider::plus-icon-style:rtl
{
  background-image: url(images/generated/adf/images/fusion/slider_Hincrease_ena_rtl.png); 
}
af|inputNumberSlider::plus-icon-style:hover, af|inputRangeSlider::plus-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/slider_Hincrease_ovr.png); 
}
af|inputNumberSlider::plus-icon-style:hover:rtl, af|inputRangeSlider::plus-icon-style:hover:rtl
{
  background-image: url(images/generated/adf/images/fusion/slider_Hincrease_ovr_rtl.png); 
}
af|inputNumberSlider::plus-icon-style:depressed, af|inputRangeSlider::plus-icon-style:depressed
{
  background-image: url(images/generated/adf/images/fusion/slider_Hincrease_dwn.png); 
}
af|inputNumberSlider::plus-icon-style:depressed:rtl, af|inputRangeSlider::plus-icon-style:depressed:rtl
{
  background-image: url(images/generated/adf/images/fusion/slider_Hincrease_dwn_rtl.png); 
}
af|inputNumberSlider::minus-icon-style, af|inputRangeSlider::minus-icon-style
{
  background-image: url(images/generated/adf/images/fusion/slider_Hdecrease_ena.png); 
}
af|inputNumberSlider::minus-icon-style:rtl, af|inputRangeSlider::minus-icon-style:rtl
{
  background-image: url(images/generated/adf/images/fusion/slider_Hdecrease_ena_rtl.png); 
}
af|inputNumberSlider::minus-icon-style:hover, af|inputRangeSlider::minus-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/slider_Hdecrease_ovr.png); 
}
af|inputNumberSlider::minus-icon-style:hover:rtl, af|inputRangeSlider::minus-icon-style:hover:rtl
{
  background-image: url(images/generated/adf/images/fusion/slider_Hdecrease_ovr_rtl.png); 
}
af|inputNumberSlider::minus-icon-style:depressed, af|inputRangeSlider::minus-icon-style:depressed
{
  background-image: url(images/generated/adf/images/fusion/slider_Hdecrease_dwn.png); 
}
af|inputNumberSlider::minus-icon-style:depressed:rtl, af|inputRangeSlider::minus-icon-style:depressed:rtl
{
  background-image: url(images/generated/adf/images/fusion/slider_Hdecrease_dwn_rtl.png); 
}
af|inputRangeSlider::range
{
  background-image: url(images/generated/adf/images/fusion/sliderHighlight_mdTile.png); 
}
af|column::sort-ascending-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/sort_asc_ovr.png); 
}
af|column::sort-descending-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/sort_des_ovr.png); 
}
af|panelSplitter::horizontal-icon-style:hover, af|panelSplitter::horizontal-divider:disclosed:hover af|panelSplitter::horizontal-icon-style
{
  background-image: url(images/generated/adf/images/fusion/splitterho_bg.png); 
}
af|panelSplitter::vertical-icon-style:hover, af|panelSplitter::vertical-divider:disclosed:hover af|panelSplitter::vertical-icon-style
{
  background-image: url(images/generated/adf/images/fusion/splittervo_bg.png); 
}
af|panelWindow::close-icon-style:hover, af|dialog::close-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/close_ovr.png); 
}
af|train::stop-icon-unvisited:hover, af|train-vertical::stop-icon-unvisited:hover
{
  background-image: url(images/generated/adf/images/fusion/train_unvisited_ovr.png); 
}
af|dvt-hierarchyViewer af|inputNumberSlider::bar-outer-border, af|dvt-hierarchyViewer af|inputNumberSlider:vertical::bar-outer-border
{
  background-image: url(images/generated/adf/images/fusion/sliderBarV_mdTile.png); 
}
.AFBrightBackground:alias
{
  background-color: #faffe0; 
}
.AFLightAccentBackground:alias
{
  background-color: #faffc6; 
}
af|column::sort-descending-icon-style
{
  background-image: url(images/generated/adf/images/fusion/sort_des_ena.png); 
}
.AFVeryLightBackground:alias
{
  background-color: #faffe0; 
}
af|panelList
{
  font-family: Geneva, Arial, Helvetica, sans-serif; 
}
af|panelList::link
{
  font-family: Geneva, Arial, Helvetica, sans-serif; 
  font-weight: 500; 
  font-size: 11px; 
}
af|panelFormLayout
{
  color: rgb(255,253,207); 
  background-color: rgb(255,253,207); 
}
.MyClass
{
  background-color: #71BA71;
  
}
.MyClassgrouplayout
{
    background-color: #f5feaa; 

}
af|panelGroupLayout
{
  background-color: #faffe0; 
}
af|breadCrumbs::overflow-indicator[theme="dark"]
{
  background-image: url(images/generated/adf/images/fusion/breadcrumb_gof_ena.png); 
}
af|dvt-hierarchyViewer af|inputNumberSlider::thumb-icon
{
  content: url(images/generated/adf/images/slider_thumb_m_n.png); 
}
af|dvt-hierarchyViewer af|inputNumberSlider::thumb-icon:rtl
{
  content: url(images/generated/adf/images/slider_thumb_m_n_rtl.png); 
}
.AFLightBrightBackground:alias
{
  background-color: #d5ffef; 
}
af|selectOneChoice::label
{
   
  font-size: 11px; 
  font-family: Geneva, Arial, Helvetica, sans-serif; 
  font-weight: 300; 
   
}

.AFDisclosedIcon:alias
{
  content: url(images/generated/adf/images/fusion/disclexp.png); 
}
.AFDisclosedIconStyle:alias
{
  background-image: url(images/generated/adf/images/fusion/disclexp.png); 
}
.AFUndisclosedIcon:alias
{
  content: url(images/generated/adf/images/fusion/disclcol.png); 
}
.AFUndisclosedIconStyle:alias
{
  background-image: url(images/generated/adf/images/fusion/disclcol.png); 
}
.AFUndisclosedIcon:alias:rtl
{
  content: url(images/generated/adf/images/fusion/disclcol_rtl.png); 
}
.AFUndisclosedIconStyle:alias:rtl
{
  background-image: url(images/generated/adf/images/fusion/disclcol_rtl.png); 
}
af|panelTabbed::disclosed-remove-icon-style:hover, af|panelTabbed::undisclosed-remove-icon-style:hover, af|navigationPane-tabs::disclosed-remove-icon-style:hover, af|navigationPane-tabs::undisclosed-remove-icon-style:hover
{
  background-image: url(images/generated/adf/images/fusion/tabclose_ovr.png); 
}
af|inputNumberSpinbox::incrementor-icon-style
{
  background-image: url(images/generated/adf/images/fusion/spinboxup_ena.png); 
}
af|navigationPane-buttons::separator-icon-style, af|navigationPane-bar::separator-icon-style
{
  background-image: url(images/generated/adf/images/fusion/glink_pSeparator.png); 
}
af|selectManyChoice::dropdown, af|inputComboboxListOfValues::dropdown-cell
{
  background-image: url(images/generated/adf/images/fusion/dropDB_1x11_ena.png); 
}
af|selectManyChoice::dropdown-icon-style:active, af|selectManyChoice::dropdown-icon-style:hover:active, af|inputComboboxListOfValues::dropdown-icon-style:active, af|inputComboboxListOfValues::dropdown-icon-style:hover:active
{
  background-image: url(images/generated/adf/images/fusion/dropDB_symbol_dwn.png); 
}
af|table::disclosed-icon-style, af|tree::expanded-icon-style, af|treeTable::expanded-icon-style
{
  background-image: url(images/generated/adf/images/fusion/discloseexpanded_ena.png); 
}
af|showDetail::disclosed-icon
{
  content: url(images/generated/adf/images/fusion/discloseexpanded_ena.png); 
}
af|table::undisclosed-icon-style, af|tree::collapsed-icon-style, af|treeTable::collapsed-icon-style
{
  background-image: url(images/generated/adf/images/fusion/disclosecollapsed_ena.png); 
}
af|showDetail::undisclosed-icon
{
  content: url(images/generated/adf/images/fusion/disclosecollapsed_ena.png); 
}
af|table::undisclosed-icon-style:rtl, af|tree::collapsed-icon-style:rtl, af|treeTable::collapsed-icon-style:rtl
{
  background-image: url(images/generated/adf/images/fusion/disclosecollapsed_ena_rtl.png); 
}
af|showDetail::undisclosed-icon:rtl
{
  content: url(images/generated/adf/images/fusion/disclosecollapsed_ena_rtl.png); 
}
af|inputColor::launch-icon:active
{
  content: url(images/generated/adf/images/fusion/compactBS_symbol_dwn.png); 
}
.AFLightestNeutralBackground:alias
{
  background-color:#FAFFE0;
}

.MainHeader{
  background-color:#3F4C6B;
}

.Header{
    background-color:#3F6096;
}

.SearchPanel{
    background-color:#FCFFB1;
}

.PanelForm{
    background-color:#FCFFB1;
}
